﻿@{
    ViewBag.Title = "Administration";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<h2>Administration</h2>
@section scripts {
    <script src="~/JS/angular.js"></script>
    <script src="~/Client/Scripts/users.js"></script>
    <script src="~/Client/Scripts/ListController.js"></script>
}
<div data-ng-app="users">
    <div ng-controller="ListController">
        <table border="1">
            <tr>
                <th>UserName</th>
                <th>Password</th>
                <th>FirstName</th>
                <th>LastName</th>
                <th>AddressName</th>
                <th>EmailName</th>
            </tr>
            <tr ng-repeat="user in users">
                <td>{{user.Username_db}}</td>
                <td>{{user.Password_db}}</td>
                <td>{{user.FirstName_db}}</td>
                <td>{{user.LastName_db}}</td>
                <td>{{user.Address_db}}</td>
                <td>{{user.Email_db}}</td>
            </tr>
        </table> 
    </div>
</div>
<script>
  (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
  (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
  m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
  })(window,document,'script','//www.google-analytics.com/analytics.js','ga');

  ga('create', 'UA-75411107-1', 'auto');
  ga('send', 'pageview');

</script>
