﻿@model WAD_CW2_00002399.Web.Models.ProductCatalogViewModel

@{
    ViewBag.ProductModel = "Catalog";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Catalog</h2>


@using (Html.BeginForm())
{

    <div class="container-fluid">
        <div class="row">
            <div class="col-md-12">
                
                <div class="row">
                    <div class="col-md-4">
                        <ul style="list-style:none;">
                            <li>
                                @Html.EnumDropDownListFor(model => model.SortOption, new { @class = "form-control" })
                            </li>
                            <li>
                                @Html.EnumDropDownListFor(model => model.SortOrder, new { @class = "form-control" })
                            </li>
                            <li>
                                <input type="submit" value="Filter" class="btn btn-info" />
                            </li>
                            <br />
                            
                        </ul>
                    </div>
                    <div class="col-md-8">
                        <div class="row">
                            <div class="col-xs-8">
                                    @Html.EditorFor(model => model.SearchQuery, new { htmlAttributes = new { @class = "form-control" } })
                            </div>
                            <div class="col-xs-4">
                                @Html.EnumDropDownListFor(model => model.SearchOption, new { @class = "form-control" })
                            </div>
                        </div>
                        <div class="row">
                            @foreach (var product in Model.Products)
                            {
                                <div class="col-md-4">
                                    <h2>
                                        @Html.DisplayFor(model => product.ProductModel)
                                    </h2>
                                    <p>
                                        @Html.DisplayFor(model => product.ProductCategory)
                                    </p>
                                    <p>
                                        @Html.DisplayFor(model => product.Price)
                                    </p>
                                    <p>
                                        @Html.ActionLink("View Details", "Details", "Product", new { id = 1 }, new { @class = "btn" })
                                    </p>
                                </div>
                            }
                        </div>

                        <div id='Paging' style="text-align:center">
                            <div class="form-group row">
                                <ul class="pagination">
                                    @for (int i = 1; i <= Model.TotalPages; i++)
                                    {
                                        <li>
                                            <input type="submit" value="@i" name="page" class="btn btn-primary btn-xs" />
                                        </li>
                                    }
                                </ul>
                            </div>
                        </div>

                    </div>
                </div>
            </div>
        </div>
    </div>


}
<script>
  (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
  (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
  m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
  })(window,document,'script','//www.google-analytics.com/analytics.js','ga');

  ga('create', 'UA-75411107-1', 'auto');
  ga('send', 'pageview');

</script>



