﻿@model WAD_CW2_00002399.Web.Models.ProductViewModel

@{
    ViewBag.ProductModel = "Create";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@{
    List<SelectListItem> listItems = new List<SelectListItem>();
    listItems.Add(new SelectListItem
    {
        Text = "Tablet PCs",
        Value = "Tablet PCs"
    });

    listItems.Add(new SelectListItem
    {
        Text = "Motherboards",
        Value = "Motherboards"
    });

    listItems.Add(new SelectListItem
    {
        Text = "SSD",
        Value = "SSD"
    });

    listItems.Add(new SelectListItem
    {
        Text = "PC",
        Value = "PC"
    });

    listItems.Add(new SelectListItem
    {
        Text = "Laptops",
        Value = "Laptops"
    });

    listItems.Add(new SelectListItem
    {
        Text = "Cameras",
        Value = "Cameras"
    });

}

<h2>Create</h2>

<h4>Authorize</h4>
<hr />
<div class="form-group">
    <label class="control-label col-md-2">Username</label>
    <div class="col-md-10">
        @Html.TextBox("Username")

    </div>
</div>
<div class="form-group">
    <label class="control-label col-md-2">Password</label>
    <div class="col-md-10">
        @Html.TextBox("Password")
        @Html.Hidden("Token")
    </div>
</div>

<div class="form-group">
    <div class="col-md-offset-2 col-md-10">
        <input type="submit" value="Login" class="btn btn-default" onclick="Login()" />
    </div>
</div>

    
    <div class="form-horizontal">
        <hr />
        @Html.ValidationSummary(true, "", new { @class = "text-danger" })
        <div class="form-group">
            @Html.LabelFor(model => model.ProductModel, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.ProductModel, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.ProductModel, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.Price, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.Price, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.Price, "", new { @class = "text-danger" })
            </div>
        </div>
        <div class="form-group">
            @Html.LabelFor(model => model.Description, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.Description, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.Description, "", new { @class = "text-danger" })
            </div>
        </div>
        <div class="form-group">
            @Html.LabelFor(model => model.ProductCategory, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.DropDownListFor(model => model.ProductCategory, listItems, "~~~~~~~~~~~Category~~~~~~~~~~", new { @class = "form-control" })
                @Html.ValidationMessageFor(model => model.ProductCategory, "", new { @class = "text-danger" })
            </div>
        </div>
        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <input type="submit" value="Create" class="btn btn-default" onclick="AddProduct()" />
            </div>
        </div>
    </div>

<div>
    @Html.ActionLink("Back to List", "Index")
</div>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
<script>
    function Login()
    {

        var userData = {
            Username: $("#Username").val(), Password: $("#Password").val()
        }
        var request = $.ajax({

            url: "/api/ExternalAccess/Authenticate",
            type: "POST",
            contentType: "application/json; charset=utf-8",
            data:  JSON.stringify({ Username: $("#Username").val(), Password: $("#Password").val() }), //needed for propper binding
            dataType: "json"
        });

        request.done(function (result) {
            alert(result.Message);
            $("#Token").val(result.Token);

        });

        request.fail(function (jqXHR, textStatus) {
            alert("Request failed: " + textStatus);
        });
    }

    function AddProduct()
    {
        var request = $.ajax({
            url: "/api/ExternalAccess/Product?token=" + encodeURIComponent($("#Token").val()),//always encode the data for url
            type: "Post",
            contentType: "application/json; charset=utf-8",
            data: JSON.stringify({ //need that for propper binding

                ProductModel: $("#ProductModel").val(),
                Price: $("#Price").val(),
                ProductCategory: $("#ProductCategory").val(),
                Description: $("#Description").val()
            }),
            dataType: "json"
        });

        request.done(function (result) {
            alert(result.Message);
        });

        request.fail(function (jqXHR, textStatus) {
            alert("Request failed: " + textStatus);
        });
    }
</script>

<script>
  (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
  (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
  m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
  })(window,document,'script','//www.google-analytics.com/analytics.js','ga');

  ga('create', 'UA-75411107-1', 'auto');
  ga('send', 'pageview');

</script>