﻿
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Attention!</h2>

<h4>All web services are done in the separate project <br />
    There are 3 webservice clients: External SOAP, Internal SOAP and Internal REST.<br />
    To test them please open a webservice client webform aspx file and then run the mvc project.<br />
    To check internal REST webservice client please change localhost port number.<br />
    Thank You!!!!
    </h4>

